services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scribe-app
    restart: always
    env_file:
      - .env
    depends_on:
        postgres:
          condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: scribe-postgres
    restart: always
    env_file:
      - .env
    volumes:
      - ./infra/postgres-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  caddy:
    image: caddy:2-alpine
    container_name: scribe-caddy
    restart: always
    depends_on:
      - app
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./infra/caddy/data:/data
      - ./infra/caddy/config:/config
