{
	email {$LETSENCRYPT_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip
	header /assets/* Cache-Control "public, max-age=31536000, immutable"
	header /fonts/* Cache-Control "public, max-age=31536000, immutable"
	reverse_proxy app:4000
}
