name: Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 134.199.137.215
          username: root
          key: ${{ secrets.SERVER_KEY }}
          port: 22
          script: |
            set -euo pipefail
            cd scribe
            git pull --ff-only
            docker compose run --rm -T --no-deps --build app /app/bin/social_scribe eval "SocialScribe.Release.migrate" ; docker compose up -d --force-recreate --build
